/*ESTILO PARA TODO HTML*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*ESTILO PARA HTML*/

/*ESTILO PARA BODY*/
body {
    background-color: #005883;
}
/*ESTILO PARA BODY*/

/*ESTILO PARA HEADER*/
header{
    max-width: 100%;
    min-height: auto;
    margin: 0 auto;
    display: block;
    image-orientation: flip;
    background-color: #b3b3b3;
    padding: 10px;
}

#logo {
    width: auto;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    font-size: 35px;
    color: White;
    font-family: Franklin Gothic Heavy;
    text-align: center;
}
    
#sbtitulo {
    color: White;
    font-size: 30px;
    text-align: center;
    font-family: Franklin Gothic Book;
}
    
#trtitulo {
    color: White;
    text-align: center;
    font-size: 25px;
    font-family: Franklin Gothic Book;
}    
/*ESTILO PARA HEADER*/

/*ESTILO PARA MENU HORIZONTAL*/
#menu-h {
    max-width: 100%;
    min-height: auto;
    background-color: #808080;
    font-family: Franklin Gothic Book;
    font-size: 20px;
    margin: 0 auto;
} 

#menu-h ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#menu-h a {
    color: White;
    display: block;
    padding: 20px;
    text-align: center;
    background-color: #808080;
    text-decoration: none;
}

#menu-h a:hover {
    background-color: #F47920;
}

#menu-h ul ul {
    display: none;
    position: absolute;
}

#menu-h ul li:hover ul {
    display: block;
}
/*ESTILO PARA MENU HORIZONTAL*/

/*ESTILO PARA DESARROLLO DE CONTENIDO Y ASIDE PARA TWITTER*/
#contenedor {
    max-width: 100%;
    min-height: auto;
    margin: o auto;
}

#twitter {
    width: 30%;
    min-height: auto;
    float: right;
}

#contenido {
    width: 70%;
    min-height: auto;
    float: left;
}
/*ESTILO PARA DESARROLLO DE CONTENIDO Y ASIDE PARA TWITTER*/


/*ESTILO PARA FOOTER*/
footer {
    max-width: 100%;
    min-height: auto;
    margin: 0 auto;
    background-color: #F0B429;
    display: block;
}
/*ESTILO PARA FOOTER*/

