* {
    box-sizing: border-box;
}

body {
    background-color: #005883;
}

header{
    display: block;
    image-orientation: flip;
    background-color: #b3b3b3;
    padding: 10px;
 }

    #titulo {
        font-size: 35px;
        color: White;
        font-family: Franklin Gothic Heavy;
        text-align: center;
    }
    
    #sbtitulo {
        color: White;
        font-size: 30px;
        padding: 10px;
        text-align: center;
        font-family: Franklin Gothic Book;
    }
    
    #trtitulo {
        color: White;
        text-align: center;
        font-size: 25px;
        font-family: Franklin Gothic Book;
}    



article {
    width: 50%;
    padding-left: 10px;
    margin-left: 10px;
    float: left;
    height: auto;
}

nav {
    width: auto;
    height: 50px;
    background-color: #808080;
 } 
    nav ul {
        text-align: center;
        overflow: hidden;
    }
    #txt {
        font-family: Franklin Gothic Medium;
        padding: 14px 16px;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    li {
        text-align: center;
    }
    li a, .dropbtn {
        display: inline-block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover, .dropdown:hover .dropbtn {
        background-color: #ddd;
    }
    li.dropdown {
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
}    

#main {
    width: 100%;
    height: auto;
}

#seccion {
    width: auto;
    margin: 15px;
    min-height: 500px;
    padding: 10px;
    display: inline-block;
}

article {
    width: 70%;
    height: 250px;
    padding: 10px;
 }
    article p {
        padding-top: 10px;
        margin-bottom: 5px;
        color: White;
        font-family: Franklin Gothic Medium;
        text-align: justify;
    }
    .twitter-timeline {
        padding: 10px;
        float: right;
    }
    article img {
        height: 200px;
        float: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    article h3{
        color: #F0B429;
        font-family: Franklin Gothic Book;
        margin-top: 10px;
        padding: 10px;
        text-align: left;
}

@media (max-width: 600px) {
    article {
        width: 100%;
        height: auto;
    }
}

footer {
    background-color: #F0B429;
    padding: 10px;
    text-align: center;
 }
    footer p {
        font-family: Franklin Gothic Medium;
        padding: 14px 16px;
        font-size: 20px;
        text-decoration: none;
}


h2 {
    color: #F0B429;
    text-align: center;
    margin-bottom: 20px;
    font-family: Franklin Gothic Book;
}

.ini h2 {
    color: #F0B429;
    text-align: left;
    font-family: Franklin Gothic Book;
}

#txt:hover {
    color:#F0B429;
}


#txt1 {
    font-family: Franklin Gothic Medium;
    color: #F47920;
}


h3 {
    color: White;
    padding: 10 px;
    text-align: left;
    font-family: Franklin Gothic Book;
}

  video {
    width: 100%;
    height: auto;
  }
